body {
  margin: 0;
  height: 100vh;
  background-color: rgb(192, 196, 195);
  background-image: url(https://cdn.jsdelivr.net/gh/wuyilin18/CDN/image/梅兰竹菊背景.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-clip: padding-box;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  min-width: 1000px;
}
.flex {
  display: flex;
}
.baise {
  background-color: white;
}
.yinying {
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px,
    rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
}
.column {
  flex-direction: column;
}
.row {
  flex-direction: row;
}
.mgr {
  margin-right: 80px;
}
.mgt18 {
  margin-top: 18px;
}
.quyu:hover {
  transform: scale(1.01);
}
.quyu1:hover {
  transform: scale(1.03);
}
.quyu2:hover {
  transform: scale(1.2);
}
.dise:hover {
  background-color: #bebebe;
}
.fangkaung {
  height: 718.75px;
  border-radius: 25px;
  width: 240px;
  opacity: 0.8;
}
